@import '~scss/variables';
@import '~scss/mixins';

.header {

    &__title {
        text-align: center;
        font-size: 1.5em;
        font-weight: 400;
        letter-spacing: -1px;
        margin-bottom: 15px;
        margin-top: 10px;
        color: $header-color;
    }

    &__author {
        text-align: center;
        font-size: 1em;
        margin: 5px 0 0;
        font-weight: 300;
        color: darken($text-color, 20%);
    }
}

