@import '~scss/variables';
@import '~scss/mixins';

.header {
    @include boxify;

    &__title {
        text-align: center;
        font-size: 1.5em;
        font-weight: 700;
        letter-spacing: 0.9;
        margin-top: 10px;
        color: $header-color;
    }

    &__divider {
        height: 0;
        border: 0;
        border-top: 2px solid $background-color;
        margin: 0 35%;
    }

    &__author {
        text-align: center;
        margin: 15px 0 10px;
        color: $text-color;

        b {
            font-weight: 600;
        }
    }
}

