@import '~scss/mixins';

.classeslist {
  @include boxify($classes-color);
  padding-bottom: 20px;
}

.triangle {
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left-width: 6px;
}