<div class="classeslist">
  <h4 class="classeslist__title">Matérias</h4>
  <div class="mt3 mb3 flex justify-between align-stretch">
    <div class="flex flex-column justify-between">
      <div class="b mb1 f5 near-black">Áreas</div>
      <div class="flex">
        <div class="ba bw1 b--light-silver bg-light-silver white br-pill ph2 pv1 f6 b mr1" *ngIf="filter === -1">Todas</div>
        <div class="ba bw1 b--light-silver light-silver br-pill ph2 pv1 f6 b mr1 pointer hover-bg-light-gray" *ngIf="filter !== -1"
          (click)="setFilter(-1)">Todas</div>

        <div class="ba bw1 b--blue bg-blue white br-pill ph2 pv1 f6 b mr1" *ngIf="filter === 0">Teoria</div>
        <div class="ba bw1 b--blue blue br-pill ph2 pv1 f6 b mr1 pointer hover-bg-light-gray" *ngIf="filter !== 0" (click)="setFilter(0)">Teoria</div>

        <div class="ba bw1 b--green bg-green white br-pill ph2 pv1 f6 b mr1" *ngIf="filter === 1">Sistemas</div>
        <div class="ba bw1 b--green green br-pill ph2 pv1 f6 b mr1 pointer hover-bg-light-gray" *ngIf="filter !== 1" (click)="setFilter(1)">Sistemas</div>

        <div class="ba bw1 b--pink bg-pink white br-pill ph3 pv1 f6 b mr1" *ngIf="filter === 2">IA</div>
        <div class="ba bw1 b--pink pink br-pill ph3 pv1 f6 b mr1 pointer hover-bg-light-gray" *ngIf="filter !== 2" (click)="setFilter(2)">IA</div>

        <div class="ba bw1 b--orange bg-orange white br-pill ph2 pv1 f6 b mr1" *ngIf="filter === 3">E-science</div>
        <div class="ba bw1 b--orange orange br-pill ph2 pv1 f6 b mr1 pointer hover-bg-light-gray" *ngIf="filter !== 3" (click)="setFilter(3)">E-science</div>
      </div>
    </div>
    <div>
      <div class="b mb1 f5 near-black">Ano</div>
      <input class="ba bw1 br2 b--light-gray w3 b tc f4 gray" [(ngModel)]="yearInput" (blur)="applyYearFilter()" [ngClass]="yearFilter > -1 ? 'b--dark-red' : ''">
    </div>
  </div>
  <div class="classeslist__list ">
    <div class="flex items-center ph3 pv3" *ngFor="let classe of (classList | area:filter | year:yearFilter); let i=index" [ngClass]="i % 2 === 0 ? 'bg-light-gray' : ''">
      <div class="white ph2 pv1 br-pill b f5 mr3" [ngClass]="getAreaColor(classe.area)">{{classe.code}}</div>
      <div class="flex-auto normal">{{classe.name}}</div>
      <div class="flex">
        <div class="white br--left br2 pl2 pv1 f5 b" [ngClass]="'bg-'+getBeginYearColor(classe)">{{classe.beginYear}}</div>
        <div class="white br--right br2 pl2 pr2 pv1 f5 b relative" [ngClass]="'bg-'+getEndYearColor(classe)">
          <div class="triangle bl absolute left-0 top-0 h-100" [ngClass]="'b--'+getBeginYearColor(classe)"></div>
          {{classe.endYear}}
        </div>
      </div>
    </div>
  </div>
</div>