<div class="classeslist">
  <h4 class="classeslist__title">Matérias</h4>
  <div class="mt3 mb3">
    <div>
      <div class=" b mb1 f5 near-black ">Áreas</div>
      <div class="flex ">
        <div class="ba bw1 b--light-silver bg-light-silver near-black br-pill ph2 pv1 f6 b mr1">Todas</div>
        <div class="ba bw1 b--blue bg-blue white br-pill ph2 pv1 f6 b mr1">Teoria</div>
        <div class="ba bw1 b--blue blue br-pill ph2 pv1 f6 b mr1">Teoria</div>
        <div class="ba bw1 b--green bg-green white br-pill ph2 pv1 f6 b mr1">Sistemas</div>
        <div class="ba bw1 b--pink bg-pink white br-pill ph3 pv1 f6 b mr1">IA</div>
        <div class="ba bw1 b--orange bg-orange white br-pill ph2 pv1 f6 b mr1">E-science</div>
      </div>
    </div>
  </div>
  <div class="classeslist__list ">
    <div class="flex items-center bg-light-gray ph3 pv3 ">
      <div class="bg-blue white ph2 pv1 br-pill b f5 mr3 ">MAC0350</div>
      <div class="flex-auto normal ">Introdução a Banco de Dados</div>
      <div>TBD</div>
    </div>
    <div class="flex items-center ph3 pv3 ">
      <div class="bg-green white ph2 pv1 br-pill b f5 mr3 ">MAC0350</div>
      <div class="flex-auto normal ">Introdução a Banco de Dados</div>
      <div>TBD</div>
    </div>
  </div>
</div>