<div class="toolbar">
  <button class="toolbtn f7 toolbtn--info" routerLink="info">
    <fa-icon icon="file-alt" size="2x"></fa-icon>
    <span class="toolbtn__text">Proposta</span>
  </button>

  <button class="toolbtn f7 toolbtn--course" routerLink="/">
    <fa-icon icon="graduation-cap" size="2x"></fa-icon>
    <span class="toolbtn__text">Curso</span>
  </button>

  <button class="toolbtn f7 toolbtn--classes" routerLink="classes">
    <fa-icon icon="book" size="2x"></fa-icon>
    <span class="toolbtn__text">Matérias</span>
  </button>
</div>