<div class="activities">
  <h4 class="activities__title">Atividades</h4>
  <ul class="activities__list">
      <li>Analisar dados históricos do BCC e organizá-los &nbsp;(<b>Março</b> a <b>Maio</b>)</li>
      <li>Analisar o histórico de oferecimento de disciplinas ao longo do tempo e categorizá-las por área de estudo &nbsp;(<b>Abril</b> a <b>Julho</b>)</li>
      <li>Obter informações sobre cursos de outras instituições (inicialmente planejado que sejam ICMC-USP, Unicamp, UFRJ, PUC-Rio, Stanford e MIT) através de pesquisas e entrevistas com alunos e professores &nbsp;(<b>Junho</b> a <b>Setembro</b>)</li>
      <li>Obter as grades de disciplinas atuais das referidas instituições e traçar comparações com a grade do BCC &nbsp;(<b>Junho</b> a <b>Setembro</b>)</li>
      <li>Construir um website com ricas visualizações e infográficos para disponibilizar todos os dados levantados &nbsp;(<b>Abril</b> a <b>Outubro</b>)</li>
      <li>Escrever uma monografia e um pôster para registrar todo o processo. &nbsp;(<b>Setembro</b> a <b>Dezembro</b>)</li>
  </ul>
</div> 