<div class="professors">
  <h4 class="professors__title">Professores</h4>
  <div class="professors__slider">
    <mat-slider min="0" max="46" tickInterval="1" value="0" (change)="onSliderChange($event)"></mat-slider>
    <div class="professors__epoch">{{curEpoch}}</div>
  </div>

  <div class="professors__box">
    <div class="professors__canvas">
      <div class="canvas__header canvas__header--ms6">
        <fa-layers class="fa-fw">
          <fa-icon icon="star" transform="shrink-8 left-6 down-5"></fa-icon>
          <fa-icon icon="star" transform="shrink-4 up-4"></fa-icon>
          <fa-icon icon="star" transform="shrink-8 right-6 down-5"></fa-icon>
        </fa-layers>
        <span class="canvas__title">
          Titular
        </span>
      </div>
    </div>

    <div class="professors__canvas">
      <div class="canvas__header canvas__header--ms5">
        <fa-layers class="fa-fw">
          <fa-icon icon="star" transform="shrink-6 left-4 down-4"></fa-icon>
          <fa-icon icon="star" transform="shrink-6 right-4 up-4"></fa-icon>
        </fa-layers>
        <span class="canvas__title">
          Associado
        </span>
      </div>
    </div>
    <div class="professors__canvas">
      <div class="canvas__header canvas__header--ms3">
        <fa-icon icon="star" transform="shrink-3"></fa-icon>
        <span class="canvas__title">
          Doutor
        </span>
      </div>
    </div>

    <div class="professors__canvas">
      <div class="canvas__header canvas__header--ms2">
        <fa-icon icon="star-half" transform="right-3 shrink-3"></fa-icon>
        <span class="canvas__title">
          Assistente
        </span>
      </div>
    </div>

    <div class="professors__canvas">
      <div class="canvas__header canvas__header--ms1">
        <fa-icon icon="circle" transform="shrink-7"></fa-icon>
        <span class="canvas__title">
          Auxiliar
        </span>
      </div>
    </div>

    <div class="professors__canvas">
      <div class="canvas__header canvas__header--ms0">
        <fa-icon icon="moon" transform="shrink-3"></fa-icon>
        <span class="canvas__title">
          Aposentado
        </span>
      </div>
    </div>

    <app-professor *ngFor="let prof of allProfessors" class="professor" [style.top]="prof.posY" [style.left]="prof.posX" [style.opacity]="prof.enabled ? 1 : 0"
      [professor]="prof"></app-professor>
  </div>
</div>