@import '~scss/variables';
@import '~scss/mixins';

.propposal {
    @include boxify;

    &__title {
        @include section-title;
    }

    &__divider {
        @include divider;
        margin-bottom: 20px;
    }

    &__body {
        color: $text-color;
    }

    &__activities {
        color: $text-color;
        list-style: none;

        li {
            margin-bottom: 10px;
            padding-left: 1em; 
            text-indent: -1.3em;
        }
        
        li::before {
        content: "• ";
        font-size: 1.5em;
        position: relative;
        top: 3px;
        margin-right: 5px;
        color: $header-color; /* or whatever color you prefer */
        }

        b {
            font-weight: 600;
        }
    }
}

