@import "~scss/mixins";
@import "~scss/variables";

.students {
    @include boxify($course-color);
    padding-bottom: 20px;

    .information {
        @include column-align;
        margin-top: 15px;
        font-size: 0.9em;

        &__icon {
            flex-shrink: 0;
            margin-right: 10px;
        }
    }
}