@import './variables';

/* Create a grid of boxes */
@mixin gridify($rows, $columns) {
    padding: 20px;
    display: grid;
    grid-template-rows: $rows;
    grid-template-columns: $columns;
    grid-gap: 20px;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }

    @media (min-width: 1400px) {
        padding: 20px 10%;
    }
}

/* Default style for boxes */
@mixin boxify {
    background-color: $box-back;
    border-radius: 12px;
    border-bottom: 3px solid #DDD;
    padding: 10px 20px;
    position: relative;

    &:before {
        position: absolute;
        z-index: -1;
        content: "";
        bottom: 0px;
        left: 20px;
        width: calc(100% - 40px);
        height: 100px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    &__title {
        color: $title-color;
        margin: 5px 0 10px;
        font-size: 1.3em;
    }
}