@import './variables';

/* Create a grid of boxes */
@mixin gridify($rows, $columns) {
    padding: 10px 20px 20px;
    display: grid;
    grid-template-rows: $rows;
    grid-template-columns: $columns;
    grid-gap: 20px;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }

    @media (min-width: 1200px) {
        padding: 10px 10% 20px;
    }
}

/* Defines row positioning for boxes inside the grid */
@mixin row-place($start: auto, $end: auto) {
    grid-row-start: $start;
    grid-row-end: $end+1;
}

/* Defines column positioning for boxes inside the grid */
@mixin column-place($start: auto, $end: auto) {
    grid-column-start: $start;
    grid-column-end: $end+1;
}

/* Default style for boxes */
@mixin boxify($main-color: $title-color) {
    background-color: $box-back;
    border-radius: 12px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    position: relative;

    &:before {
        position: absolute;
        z-index: -1;
        content: "";
        bottom: 0px;
        left: 20px;
        width: calc(100% - 40px);
        height: 30px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    &__title {
        color: $main-color;
        margin: 5px 0 10px;
        font-size: 1.3em;
    }
}