@import './googlefonts';

// COLORS
$background-color: #E8E8E8;
$box-back: #FFF;
$header-color: #CF2256;
$title-color: lighten(rgb(14,14,8), 15%);
$text-color: darken($background-color, 40%);

// FONTS
@include google-font {
    @include google-font(Open Sans, 300 400 600);
}

$system-font: "Open Sans", sans-serif;