@import './variables';

body {
    box-sizing: border-box;
    background-color: $background-color;
    font-family: $system-font;
    color: $text-color;
    font-weight: 300;
    font-size: 0.95em;
    padding: 0;
    margin: 0;
}
body { margin: 0; }
